body,
p {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
main {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}

/* Top Bannaer Styles */

.top-banner {
  background-color: #2d25a0;
  color: #fff;
  /* height: 677px; */
  /* margin: 0; */

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 130px 160px;
}

.right-area img {
  /* animation */
  filter: grayscale();
  transition: filter 0.4s ease-in-out;
}

.top-banner:hover .right-area img {
  filter: none;
  cursor: pointer;
}

.left-area h1 {
  font-size: 64px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 27px;
  text-align: left;
}

.left-area a {
  text-decoration: none;
  background-color: #e02c6d;
  padding: 10px 15px;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
}

.right-area img {
  height: 438px;
}
/*  player details --------------------------------------8*/
/* --------------------------------------------------- */
.container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  margin-top: 70px;
  margin-bottom: 150px;
}
.players-profile {
  width: 1050px;
  /* margin-top: 70px;
    margin-bottom: 150px; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  justify-items: center;
}
.player {
  height: 426px;
  width: 300px;
  box-shadow: 5px 4px 25px 4px rgba(0, 0, 0, 0.3);
  padding: 15px;
}
.player h2 {
  font-weight: 700;
  font-size: 28px;
  margin: 0;
  padding-top: 16px;
  padding-bottom: 10px;
}

.player p {
  margin: 0;
  padding: 0;
  color: #6c6c6c;
}

.player img {
  width: 100%;
  /* height: 256px;
    width: 300px; */
}
/* -------------------
Bonus Section
 ------------------------- */
.phot-container {
  margin: 3% 24%;
}
.phot-container h2 {
 display: flex;
 justify-content: center;
  font-size: 36px;
  font-weight: 500;
}
.photo-album {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 5px;
  align-items: stretch;
}

.photo-album img {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  max-width: 100%;
}

/* Next match ---------------------------------------------- */

.time-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 30px;
}
.timer {
  padding: 5px;
}

.next-Countdown h2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.single-digit {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #000000;
  color: #ffffff;
  width: 100px;
  height: 105px;
  border-radius: 5px;
  font-size: 35px;
  font-weight: 700;
}
.timer h5 {
  margin: auto;
  width: 50px;
  margin-top: -2px;
  font-size: 15px;
  font-weight: 500;
}

/* footer 

#0B0D17  inside  #969BAB  */

.logo {
  display: flex;
  justify-content: center;
}
.logo img {
  height: 110px;
}
.social-icon {
  display: flex;
  justify-content: center;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #969bab;
  background-color: rgba(11, 13, 23, 0.137);
  margin: 15px;
  height: 32px;
  width: 32px;
  border-radius: 100px;
}
.copyright {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}
/* media query  -----foripad ---------------------------*/
@media only screen and (min-width: 689px) and (max-width: 992px) {
  .top-banner {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 130px 160px;
    grid-row-gap: 60px;
  }
  .players-profile {
    color: red;
    display: grid;
    grid-template-columns: repeat(2, 330px);
    grid-gap: 30px;
    justify-content: center;
  }
}

/* media query  -----form Mobile ---------------------------*/
@media only screen and (max-width: 688px) {
  .left-area h1 {
    font-size: 36px;
  }
  .right-area img {
    height: 250px;
  }
  .top-banner {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 20px;
    padding: 130px 160px;
    padding: 10px 10px;
  }
  .players-profile {
    color: blue;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    justify-items: center;
  }
}
